{% extends "base.html" %}
{% block title %}Services{% endblock title %}
{% block body %}
<div class="container">
    <h4 class="mt-4">Welcome to Services Page</h4>
    <section class="p-2 flex justify-evenly">

        <form action="" method="get">
            <input type="search" name="search" id="searchInput" placeholder="Search Goods" value="{{ search_query }}">
            <button type="submit">Search</button>
        </form>
        {% comment %} <select id="sort_order" name="sort">
            <option value="newest" {% if sort_order =='newest' %}selected{% endif %}>Newest</option>
            <option value="oldest" {% if sort_order =='oldest' %}selected{% endif %}>Oldest</option>
        </select> {% endcomment %}

    </section>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for i in contacts %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <nav aria-label="Pagination">
        <ul class="pagination justify-content-center">
            {% if contacts.has_previous %}
            <a
                href="?page={{ contacts.previous_page_number }}{% if search_query %}&q={{ search_query }}{% endif %}">Previous</a>
            {% endif %}

            {% if contacts.has_next %}
            <a
                href="?page={{ contacts.next_page_number }}{% if search_query %}&q={{ search_query }}{% endif %}">Next</a>
            {% endif %}

        </ul>
    </nav>
</div>
{% endblock body %}